@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #4a6178;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.dashboard-container {
    max-width: 95vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #515163;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

h1 {
    font-family: "Poppins"; 
    color: #ffffff !important;
    font-size: 35px;
    margin: 15px;
}

p {
    font-family: "Poppins";
    color: #CFFF04 !important;
    font-size: 16px;
    margin: 15px;
    text-align: justify;
}

/* Radio-buttons */
.form-check {
    width: 100%;
    height: 38px;
    margin: 1px;
    padding-left: 0;
}

.btn.btn-outline-light,
.btn.btn-light {
    width: 100%;
    height: 100%;
    padding: 6px;
    font-family: "Poppins";
    border-radius: 3px;
}

.btn.btn-outline-light {
    border: 1px solid transparent;
}

.btn.btn-outline-light:hover {
    color: #010103;
    background-color: color-mix(in srgb, var(--bs-light), #010103 50%);
}

h2 {
    margin-bottom: 0px;
    margin-top: 10px;
    font-family: "Poppins";
    font-size: 14px;
    color: #ffffff !important;
}

/* Dropdowns */
.customDropdown {
    font-size: 16px;
    font-family: "Poppins";
    padding-left: 1px;
}

#graph-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 80vw;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

/* Graph/About fade transition */
#interactive-graph,
#about-text {
    transition: opacity 0.4s ease-in-out;
}

#interactive-graph {
    height: 400px !important;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 28px !important;
    }

    p {
        font-size: 14px !important;
    }

    h2 {
        font-size: 12px !important;
    }

    .dashboard-container {
        max-width: 90vw !important;
    }

    .btn-group {
        flex-wrap: wrap;
    }

    #graph-wrapper {
        padding: 0.5rem !important;
    }

    .customDropdown {
        font-size: 14px;
    }
}

/* About text block styling */
#about-text {
    color: white;
    line-height: 1.0;
    font-size: 15px;
    text-align: left;
    margin: 2rem auto;
    max-width: 750px;
    padding: 1rem;
    background-color: #6c757d;
    border-radius: 10px;
}

#about-text a {
    color: white;
    text-decoration: none;
}

#about-text a:hover {
    text-decoration: underline;
}

#about-text p {
    color: white !important;
}

#toggle-about-btn:hover, 
#toggle-about-btn:focus {
  background-color: #5a6268;
  color: white;
  outline: none;
  box-shadow: 0 0 5px #CFFF04;
}

#graph-wrapper::-webkit-scrollbar {
    height: 8px;
}

#graph-wrapper::-webkit-scrollbar-track {
    background: #515163;
    border-radius: 4px;
}

#graph-wrapper::-webkit-scrollbar-thumb {
    background: #CFFF04;
    border-radius: 4px;
}
